[Unit]
Description=Spooky Test Server (SSH Key Auth)

[Container]
Pod=spooky-test.pod
Image=spooky-ssh:latest
ContainerName=spooky-test-server
Environment=DEBIAN_FRONTEND=noninteractive
Volume=/home/sn/Workshop/go/spooky/examples/test-environment/ssh-keys:/root/.ssh

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target 